.o_clean_footer_2, .o_clean_header_2, .o_report_layout_clean_2 {
    color: #000;
}
.o_clean_header_2 img {
    max-height: 90px;
    max-width: 300px;
}
.o_clean_footer_2 {
    margin: 0 3px;
    margin-top: 200px;
    border-top: 3px solid #54acde;
    h4 {
        color: black;
        font-weight: bolder;
    }
    .pagenumber_2 {
        border: 3px solid #54acde;
        background-color: rgb(0, 151, 252);
        color: white;
        padding: 4px 8px;
        text-align: center;
    }
}
.o_report_layout_clean_2 {
    h1, h2, h3 {
        color: black;
        font-weight: bolder;
    }
    strong {
        color: #54acde;
    }
    table {
        &.o_main_table {
            margin-bottom: 0;
        }

        thead {
            color: #54acde;
            tr th {
                border-top: 3px solid black !important;
                text-transform: uppercase;
            }
            tr th:first-child {
                width: 48%;
            }
        }
        tbody {
            color: #000;
            tr:first-child td {
                border-top: none;
            }
            tr:last-child td {
                border-bottom: 3px solid #54acde;
            }
            tr {
                td {
                    padding: 15px 5px;
                }
                td:last-child {
                }
            }
        }
    }
    #total {
        strong {
            color: black;
        }
    }
    /*Total table*/
    /* compat 12.0 */
    .row:not(#total) > div:has(table) {
        top: -16px;
    }
    /* row col rule compat 12.0 */
    .row > div > table,
    div#total table {
        tr {
            &:first-child td,
            &.o_subtotal {
                border-top: none !important;
            }
            &:last-child td,
            &.o_total {
                border-top: 1px solid gray('200') !important;
            }
        }
    }
}